body {
    background-color: #2c2aa8; 
    color: #ffffff; 
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}

.container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    position: relative;
}

.logo {
    max-width: 20%;
    position: absolute; 
    top: 20px; 
    right: 20px; 
}

@media (max-width: 760px) {
    .title {
        margin-top: 60px;
        }
    
    .logo {
        max-width: 30%;
    }
    }

form {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center; 
    font-size: large;
}


.main {
    padding: 10px; 
    margin-bottom: 30px; 
}

input[type="text"] {
    margin-bottom: 20px; 
}


input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 60%; 
    padding: 15px; 
}

input[type="submit"] {
    background-color: #ffffff; 
    color: #3CB371; 
    border: none; 
    cursor: pointer; 
    width: 30%;
}

input[type="submit"]:hover {
    background-color: #dbd8f9; 
    color: #32935d; 

}

.description {
    text-align: center;
}
